.vscode/**
.vscode-test/**
out/**
src/**
webview-ui/**
!webview-ui/dist/**
node_modules/**
.gitignore
.yarnrc
.eslintrc.json
jest.config.js
tsconfig.json
webpack.config.js
**/*.map
**/*.ts
test/**
.github/**
*.vsix
